<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="app.py" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python38\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform processPath="D:\Python38\python.exe" arguments="D:\home\site\wwwroot\app.py" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\stdout" />
    </system.webServer>
</configuration>
